__pycache__/
*.py[cod]
*$py.class

env/
venv/
ENV/
.venv/

build/
dist/
*.egg-info/
.eggs/

pip-log.txt
pip-delete-this-directory.txt

.cache
.pytest_cache/

.vscode/
.idea/
*.iml
*.ipr
*.iws
out/

.env

*.log
*.tmp
*.swp

*.db
*.sqlite
__pydantic_cache__/

.DS_Store
.DS
